.profil span {
    max-width: 160px;
    overflow: hidden;
    display: inline-block;
    margin-top: 18px;
}

.profil img {
    margin: auto;
}

.profil {
    text-align: center;
}

.octofont {
	font-family: "OctoBoot";
}

@font-face {
    font-family: "OctoBoot";
    src: url(../fonts/Drakolomb.otf);
}

.Templates .column > div:hover {
	background: rgb(232, 232, 232);
}

input#upload {
	display: none;
}

.ui.menu {
	overflow-y: auto;
}
