<div class="showmore sm_mask" style="overflow-y:hidden;position:relative">
	<div class="showmore sm_content"></div>
</div>
<div class="showmore sm_button" style="text-align:center;margin:5px;cursor:pointer">
	<i class="angle down icon" style="position:relative;top:2px"></i>
	<span>show more</span>
	<i class="angle down icon" style="position:relative;top:2px"></i>
</div>