<div class="ui basic small modal NewRepo">
  <i class="close icon"></i>
  <div class="header">
    New Project
  </div>
  <div class="content">
    <div class="image">
      <i class="at icon"></i>
    </div>
    <div class="description">
      <p>Cool ! It's a greet idea ! Give me a name for your new project please: </p>
      <div class="ui fluid corner labeled input">
        <input type="text" placeholder="NewProject...">
        <div class="ui corner label">
          <i class="add circle icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui red nok basic inverted button"><i class="remove icon"></i>CANCEL</div>
      <div class="ui green ok basic inverted button"><i class="checkmark icon"></i>CREATE</div>
    </div>
  </div>
</div>

