<div class="imagezoom_overlay" style="position:absolute;z-index: 100000;background: rgba(0,0,0,.9);cursor: pointer;text-align: center">
	<i class="inverted massive zoom icon"></i>
</div>
<div class="ui fullscreen modal imagezoom">
  <i class="close icon"></i>
  <div class="header"></div>
  <div class="image content">
      <img class="ui fluid image">
  </div>
</div>