<div class="ob_facebook {{id}}" style="width:100%">
	<script type="text/javascript">try { OctoBoot_plugins.facebook_plugin("{{pid}}", document.getElementsByClassName('{{id}}')[0], {{nbr}}) } catch (e) {}</script>
</div>