<div class="ui icon buttons EditBar" style="position:absolute;bottom:0;right:0;">
  <button class="ui vertical animated button {{bind bold}}"><div class="hidden content">bold</div><div class="visible content"><i class="bold icon"></i></div></button>
  <button class="ui vertical animated button {{bind italic}}"><div class="hidden content">italic</div><div class="visible content"><i class="italic icon"></i></div></button>
  <button class="ui vertical animated button {{bind underline}}" style="width:65px"><div class="hidden content">underline</div><div class="visible content"><i class="underline icon"></i></div></button>
  <button class="ui vertical animated button {{bind unformat}}" style="width:65px"><div class="hidden content">unformat</div><div class="visible content"><i class="erase icon"></i></div></button>
</div>
