<div class="ui small icon buttons EditBar" style="position:absolute;bottom:0;right:0;">
  <button class="ui button {{bind ckeditor}} topright special ckeditor">
    <i class="font icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    text-edition
  </div>
  <button class="ui button {{bind duplicate}} topleft">
  	<i class="plus icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    duplicate
  </div>
  <button class="ui button topleft {{bind remove}}">
  	<i class="remove icon"></i>
  </button>
  <div class="ui popup inverted tiny">
    remove
  </div>
  <button class="ui button"></button>
</div>
