<div class="ui icon buttons EditBar" style="position:absolute;bottom:0;right:0;">
  <button class="ui button"><i class="bold icon"></i></button>
  <button class="ui button"><i class="underline icon"></i></button>
  <button class="ui button"><i class="text width icon"></i></button>
</div>
