<div class="ui icon buttons EditBar" style="position:absolute;bottom:0;right:0;">
  <button class="ui button {{bind bold}}"><i class="bold icon"></i></button>
  <button class="ui button {{bind italic}}"><i class="italic icon"></i></button>
  <button class="ui button {{bind underline}}"><i class="underline icon"></i></button>
  <button class="ui button {{bind unformat}}"><i class="erase icon"></i></button>
</div>
