<div class="ui basic modal Login">
  <div class="header">
    OctoBoot <-> GitHub
  </div>
  <div class="content">
    <div class="image">
      <i class="github square icon"></i>
    </div>
    <div class="description">
      Sorry, you have to be connected with your GitHub account in order to use OctoBoot <br/><br/>
      Click on the connect button OR if it's your first time allow OctoBoot access on your GitHub account
    </div>
  </div>
  <div class="actions">
    <div class="one fluid ui inverted buttons">
      <div class="ui green ok basic inverted button"><i class="checkmark icon"></i>CONNECT</div>
    </div>
  </div>
</div>
