<div class="ui large inverted vertical sidebar menu Sidebar">
    <div class="item Profil"></div>
    <div class="item ReposPublic"></div>
    <div class="item ReposPrivate"></div>
    <div class="item ReposTemplates">
    	<b class="{{bind titleHandlers}}" style="cursor: pointer">Template project</b> <span class="ui label">0</span>
	    <div class="menu" style="display: none">
	        <a class="item {{bind newHandlers}}">NEW <i class="add circle icon"></i></a>
	    </div>
    </div>
</div>
