<div class="ui large inverted vertical sidebar menu">
    <div class="item Profil"></div>
    <div class="item ReposPublic"><b>My website</b> <span class="ui label"><i class="spinner loading icon"></i></span></div>
    <div class="item ReposPrivate"><b>My private website</b> <span class="ui label"><i class="spinner loading icon"></i></span></div>
    <div class="item ReposTemplates">
    	<b class="{{bind titleHandlers}}" style="cursor: pointer">My Template</b> <span class="ui label">0</span>
	    <div class="menu" style="display: none">
	        <a class="item {{bind newHandlers}}">NEW <i class="add circle icon"></i></a>
	    </div>
    </div>
</div>
