{{!-- data context -> controllers.Stage --}}
<div style="width:100%;height:100%;position:absolute;background:#f7f7f7{{#if showAdress}};padding-left:92px{{/if}}">
    {{#if showAdress}}
    <div class="ui fluid floating dropdown labeled search icon button">
      <i class="arrow right icon"></i>
      <span class="text"></span>
      <div class="menu"></div>
    </div>
    {{/if}}
    <iframe style="width:100%;height:96%;border:none;" border="0" src=""></iframe>
</div>
