{{!-- data context -> controllers.Stage --}}
<div class="Stage" style="width:100%;height:100%;position:absolute;background:#f7f7f7{{#if showAdress}};padding-left:85px{{/if}}">
    {{#if showAdress}}
    <div class="ui fluid left action input">
        <button class="ui labeled icon button {{bind loadUrl}}">
            <i class="at icon"></i>
            GO !
        </button>
        <input type="text" class="{{bind loadUrlByKeyboard}}">
    </div>
    {{/if}}
    <iframe style="width:100%;height:100%;border:none;" border="0" src=""></iframe>
</div>
