{{!-- data context -> controllers.Toolsbar --}}
<div class="ui vertical icon menu Toolsbar">
  <a class="green item">
    <i class="zoom icon"></i>
  </a>
  <a class="green item sidebar">
    <i class="sidebar icon"></i>
  </a>
  <a class="green item {{bind handlers.create}}">
    <i class="plus icon"></i>
  </a>
</div>
