{{!-- data context -> controllers.Toolsbar --}}
<div class="ui vertical left fixed inverted labeled icon menu Toolsbar">
  <a class="item settings">
    <i class="settings icon"></i> Settings
  </a>
  <a class="item {{bind createHandlers}} new">
    <i class="plus icon"></i> New File
  </a>
  <a class="item {{bind saveHandlers}} save">
    <i class="save icon"></i> Save
  </a>
  <a class="item {{bind publishHandlers}} publish">
    <i class="cloud upload icon"></i> Publish
  </a>
  <a class="item {{bind editHandlers}} edit">
    <i class="edit icon"></i> Edit
  </a>
</div>
