{{!-- data context -> controllers.Toolsbar --}}
<div class="ui medium inverted vertical sidebar labeled icon menu Toolsbar {{bind handlers.anim}}">
  <a class="item sidebar {{bind closeHandlers}}">
    <i class="remove icon"></i> Close
  </a>
  <a class="item sidebar Settings">
    <i class="settings icon"></i> Settings
  </a>
  <a class="item {{bind createHandlers}}">
    <i class="plus icon"></i> New File
  </a>
  <a class="item sidebar">
    <i class="save icon"></i> Save
  </a>
  <a class="item sidebar">
    <i class="cloud upload icon"></i> Publish
  </a>
</div>
