<div style="width:1px;height:{{height}}px;position:absolute;left:{{left}}px;top:{{top}}px;background:rgba(101, 174, 236, 0.8);box-shadow: rgba(22, 115, 195, 1) 0px 0px 5px;z-index:1000000000" class="octoline" ></div>
