<div style="width:1px;height:{{height}}px;position:absolute;left:{{left}}px;top:{{top}}px;background:white;box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.5);z-index:1000000000" class="VerticalLine"></div>
